.container{
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    /* align-items: flex-start; */
    gap: 20px;  
    /* flex-wrap: wrap; */
    margin: 0 auto;
    width: 80%;
    height: 80vh;
    background-color:darkturquoise;
}
.box{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: green;
    box-shadow: 10px 10px 20px green ;
    background-color: firebrick;
    font-size: 45px;
}
